@import 'variables'
ul
    list-style-type none
a
    color text-color
    text-decoration none

.side-nav 
    font-family custom-theme-font
    background color-background
    color text-color
    flex-direction column
    height 100vh
    flex-basis 15%
    overflow auto
.profile-info
    padding 20px 0 10px 30px
    border-bottom 1px solid dark-seprator

.profile-name
    font-size 16px
    color text-color

.profile-name-caption
    opacity 0.5
    font-size 13px
    letter-spacing normal
    color text-color
    margin-top 2px
.profile-avatar
    margin 12px
    width 56.2px
    height 56px
    border transparent 1px
    border-radius 50%
    justify-content flex-start
nav
    padding 5px

.profile-controls
    padding 30px
    justify-content center
    align-content  center
    flex-grow 1
    border-bottom solid 1px rgba(112, 112, 112, 0.44)

.aside-text
    padding 5px 0 5px
    font-size 14px
    font-weight 600
    line-height 1.71
    color text-color

.icon
    padding-right 2px
    width 20px
    height 25px
