@require "variables"
// local Variables


.card
    margin-bottom 30px
    border-radius 5px
    box-shadow 0 8px 10px 0 rgba(0, 0, 0, 0.07), 0 0 5px 0 rgba(0, 0, 0, 0.23);
    background-color #fff
    > header 
        border-bottom solid 1px light-seprator
.cards
    width 100%
    max-width 980px
    margin 0 auto
.card-header
    min-height 80px

.card-header-container1
    align-items center
    margin-left 20px
    flex-grow 1
.card-header-container2
    align-items center
    margin-right 25px


.card-column1
    flex 1
    margin-bottom 20px
    height full-height
    margin-right: 16px
.card-column2
    margin-left: 16px
    flex 1
    margin-bottom 20px
    height full-height
.card1, .card2
    margin-top -38px
.video-thumbnail
    height 268px
    margin-bottom 2px

.card-heading-container
    align-content  center

.card-Heading-Text
    padding-left 10px
    font-size 20px
    line-height 1
    color: color-background

.card-icon-header
    
    padding-right 10px


.card-icon-right
    

.subCard-Container
    align-items center
    border-bottom solid 1px light-seprator

.subCard-icon
    margin 31px 20px

.sub-Card-Container-Text
    margin-bottom 25px
    > h4
        margin-top 33px
        font-size card-font-size-heading
        line-height 1.33
        color card-subHeading-text 
    p
        font-size card-font-size
        line-height card-height-line
        color card-p-text


.card-subheading-special
    margin-top 33px
    margin-left 30px
    font-size card-font-size-heading
    line-height 1.33
    color card-subheading-text

.subcard-p-text
    
    p
        margin: 10px 30px
        font-size card-font-size
        line-height card-height-line
        color card-p-text
@require "footer"

    