@require 'variables'

.time-button
    align-items center
    margin-left 30px
    button
        font-size footer-font-text
        font-weight bold
        text-align center
        color #009285
        background-color rgba(0, 146, 133, 0.05)
        border-radius 17px
        padding 9px 40px 8px 40px
        


.card-footer
    display flex
    flex-direction row
    justify-content center
    margin 21px 19px

.footer-text
    font-size footer-font-text
    font-weight font-bold
    text-align center
    border none

.footer-button
    font-family custom-theme-font
    padding 7px 34px 8px 46px
    border-radius 17px
    background-color #1c3fd6
    font-size footer-font-text
    text-align center
    color text-color


