ul
    list-style-type none
a
    color text-color
    text-decoration none

body 
    display flex

main
    font-family custom-theme-font
    font-style normal
    flex 1
    overflow auto
    height 100vh

.layout
    display flex

.layout-row
    flex-direction row

.layout-column
    flex-direction column