@import '~styles/variables';
.list-of-items
    display flex
    flex-direction row
    align-items center
    border-bottom solid 1px light-seprator

.sub-Card-icon
    margin 31px 20px

 .items-in-list
    margin-bottom 25px
    > h4
        margin-top 33px
        font-size card-font-size-heading
        line-height 1.33
        color card-subHeading-text 
    p
        font-size card-font-size
        line-height card-height-line
        color card-p-text