@import 'reset'

@require 'variables'

@require 'layout'

@import 'aside'

@import 'banner'

@import 'card.styl'

@import 'footer'

@import 'ul-card'

#app
  display flex
  flex-direction row
  flex 1