// Colors
text-color = white
color-background = #3e3e3e
deak-seprator =#808080


// font
custom-theme-font = 'Muli', sans-serif

// banner


full-height= 100%
light-seprator = #eeeeee
profile-caption-text = rgba(255, 255, 255, 0.87);


//card Variables
card-subHeading-text = rgba(0, 0, 0, 0.87)
card-font-size = 16px
card-font-size-heading = 18px
card-height-line= 1.5
card-p-text = var(--black-54)

// ul-card
small-column-text-color = #e059bd

//footer 

// button
footer-font-text = 14px
footer-text-color = rgba(0, 0, 0, 0.87);


